.container {
  max-width: 800px !important;
  margin-right: auto !important;
  margin-left: auto !important;
  padding-left: 15px;
  padding-right: 15px;
}

/* WAS title */
.container .row {
  margin-top: 80px;
  margin-bottom: 32px;
}

.container .row .image {
  max-width: 100%;
  padding: 8px;
}

.container .row .title {
  padding-left: 20px;
}

.container .row .title .logoTxt {
  font-size: 32px;
  color: #fa6e51;
  font-weight: 600 ;
}

h2 {
  margin-top: 40px;
}
/* End of WAS title */

/* Introduction */
.container .introduction {
  margin-left: -15px;
  margin-right: -15px;
}

.container .introduction .introduction_grid .text {
  color: #4b5f6d;
  text-align: justify;
  line-height: 23px;
  white-space: pre-line;
}

.container .formButton {
  margin-top: 50px;
}
/* End of Introduction */
