.container {
  max-width: 800px;
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container .experiment_container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container .experiment_container .word {
  font-size: 3em;
  line-height: 4rem;
  padding-bottom: 3rem;
  padding-top: 2rem;
  text-align: center;
}

.container .textField > div {
  width: 100%;
  margin-bottom: 50px;
}

.container .experiment_container .progress_container {
  margin-bottom: 70px;
  margin-top: 20px;
}

.container .experiment_container .progress_container .progress_text {
  color: #394b58;
}

.container .experiment_container .button_container .MuiButtonBase-root {
  margin-left: 38px;
}
