/* Content */
/* Overwrite divider hr with a more specific CSS selector */
#divider {
  margin-bottom: 23px;
  border-top: 1px solid #678895;
  width: 100%;
}

.profileContainer {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.profileContainer .content1 {
  line-height: 2rem;
  color: #4b5f6d;
  margin: 0 0 0.5em;
}

.profileContainer .languagesContainer {
  margin-top: 10px;
  margin-bottom: 60px;
}

.profileContainer .languagesChosenHeader {
  color: #4b5f6d;
  margin-left: 120px;
}

.profileContainer .languagesChosenContainer {
  height: 100%;
  overflow: auto;
  max-height: 150px;
}

.profileContainer .list {
  padding-left: 105px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.profileContainer .list .listItem {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 25px;
}
/* End of content */

/* Mobile support */
@media only screen and (max-width: 600px) {
  .profileContainer .languagesChosenHeader {
    margin-left: 16px;

  }

  .profileContainer .list {
    padding-left: 0px;
  }

  .profileContainer .list .listItem {
    margin-bottom: 20px;
  }

  .profileContainer .continue_button_container {
    margin-bottom: 200px;
  }
}
