.instructionContainer {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h4 {
  color: #4b5f6d;
  font-size: 24px !important;
  margin-top: 11.5px !important;
  margin-bottom: 11.5px !important;
  font-family: inherit !important;
  font-weight: 400 !important;
  line-height: 1.1 !important;
}

.instructionContainer .content_grid {
  margin-left: 9%;
  margin-right: 9%;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 9%;
}

.instructionContainer .content_grid .text {
  color: #4b5f6d;
  white-space: pre-line;
  text-align: justify;
  line-height: 30px;
}

.instructionContainer .content_grid .text .button {
  font-size: 0.6rem;
}
