.instructionContainer {
  max-width: 800px !important;
  margin-right: auto !important;
  margin-left: auto !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

h4 {
  color: #4b5f6d !important;
  font-size: 24px !important;
  margin-top: 11.5px !important;
  margin-bottom: 11.5px !important;
  font-family: inherit !important;
  font-weight: 400 !important;
  line-height: 1.1 !important;
}

.instructionContainer .content_grid {
  margin-left: 9%;
  margin-right: 9%;
  width: 91.66666667%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 9%
}

.instructionContainer .content_grid .text {
  color: #4b5f6d !important;
  white-space: pre-line !important;
  text-align: justify !important;
  line-height: 30px !important;
}

.instructionContainer .content_grid .text .button {
  font-size: 0.6rem !important;
}