/* Use a selector id (which is more specific) to override FormControl
stylings */
#dropdown {
  width: 100%;
  margin-bottom: 20px;
}

/* Mobile support */
@media only screen and (max-width: 600px) {
  #dropdown > div {
    margin-top: 30px;
  }
  #dropdown > div > select {
    height: 50px;
  }
}
