/* Use a selector id (which is more specific) to override FormControl
stylings */
#dropdown {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#dropdown > label {
  transform: none;
  margin-top: 16px;
  margin-left: 14px;
}

/* Mobile support */
@media only screen and (max-width: 600px) {

  #dropdown > label {
    transform: none;
    white-space: break-spaces;
    margin-left: 15px;
    font-size: 15px;
  }
}
