.footer {
  margin-top: 100px;
  background-color: #003062;
  min-height: 150px;
}

.footer .footer_content {
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 35px;
}

.footer .footer_top {
  text-align: center;
}

.footer .footer_bottom {
  margin-top: 15px;
  text-align: center;
}

.footer .text {
  color: white;
  line-height: 23px;
  white-space: pre-line;
}

.site_link {
  cursor: pointer;
}


/* Mobile support */
@media only screen and (max-width: 600px) {
  .footer {
    min-height: 300px;
  }

  .footer .footer_content {
    margin-left: 26px;
    margin-right: 26px;
    margin-bottom: 30px;
    margin-top: 40px;
  }

  .footer .footer_top {
    text-align: justify;
  }

  .footer .footer_bottom {
    text-align: justify;
  }
}