.visualise_page_container .card_container {
    margin-top: 50px;
}

.visualise_page_container .card_container .card {
    border-radius: 7px;
    max-width: 70%;
    margin: auto;
    padding: 20px;
}

.visualise_page_container .card_container .card .description_container {
    margin-top: 30px;
}

.visualise_page_container .card_container .card .description_container .description_text {
    color: var(--grey);
}

.visualise_page_container .card_container .card .MuiCardContent-root {
    padding-left: 5%;
    padding-right: 5%;
}


.visualise_page_container .card_container .expansion_panel_container {
    margin-top: 30px;
}

.visualise_page_container .visualisation_container {
    margin-top: 40px;
}

@media only screen and (max-width: 900px) {
    .visualise_page_container .card_container .card {
        max-width: 90%;
    }
}