.explore_page_container .card_container {
    margin-top: 50px;
}

.explore_page_container .card_container .card {
    border-radius: 7px;
    max-width: 70%;
    margin: auto;
    padding: 20px;
}

.explore_page_container .card_container .card > div {
    padding-left: 5%;
    padding-right: 5%;
}



.explore_page_container .card_container .expansion_panel_container {
    margin-top: 30px;
}

@media only screen and (max-width: 900px) {
    .explore_page_container .card_container .card {
        max-width: 90%;
    }
}