.email_container {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Overwrite typography h4 with a more specific CSS selector */
.email_container #content {
  color: #4b5f6d;
  font-size: 24px;
  margin-top: 11.5px;
  margin-bottom: 11.5px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}

.email_container .content_grid {
  margin-bottom: 9%;
}

.email_container .content_grid .text {
  color: #4b5f6d;
  white-space: pre-line;
  text-align: justify;
  line-height: 30px;
}

.email_container .receive_updates_lucky_draw_header {
  margin-right: 46px;
}

.email_container .content_grid .checkbox_container {
  display: inline-flex;
}

.email_container .content_grid .checkbox_container .checkbox {
  padding-left: 0px;
}

.email_container .content_grid .checkbox_container .checkbox_text {
  margin-top: 6px;
}

.email_container .content_grid .enter_email {
  display: block;
  margin-bottom: 20px
}

.email_container .content_grid .text_validator_grid div:first-child {
  width: 100%;
}

.email_container .content_grid .submit_button {
  margin-top: 18px;
}

.email_container
  .content_grid
  > div
  > form
  > div
  > div:nth-child(2)
  > div
  > div:first-child {
  display: block;
}

.email_container .content_grid .text .site_link {
  cursor: pointer;
}

/* Mobile support */
@media only screen and (max-width: 600px) {
  .email_container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .email_container .receive_updates_lucky_draw_header {
    margin-right: 0px;
    text-align: justify;
  }

  .email_container .content_grid .checkbox_container .checkbox_text {
    line-height: 20px;
  }
}