.App .appbar {
    background-color: #003062
}

.appbar .button > a {
    color:white;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    text-decoration: none;
}

#menu-appbar .MuiPaper-root > ul > li > p > a{
    text-decoration: none;
    color: black;
}

.appbar .default_header {
    display: flex;
}

.appbar .side_nav_panel {
    display: none;
}

.appbar #menu-appbar .side_nav_panel .menu_item {
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .appbar .default_header {
        display: none;
    }
    .appbar .side_nav_panel {
        display: block;
    }

    .appbar .toolbar {
        margin-left: auto;
        margin-right: 0;
    }
}