.container {
  max-width: 800px !important;
  margin: auto !important;
}

/* WAS title */
.container .row {
  margin-top: 20px;
}

.container .row .image {
  max-width: 130%;
}

.container .row .title {
  transform: rotate(-0.3deg);
}

.container .row .title .logoTxt {
  color: var(--blue);
  font-weight: 600;
}

.container .row .title .titleTxt {
  font-size: 31px;
  margin-bottom: 5px;
  margin-top: 50px;
  margin-left: 50px;
}

.container .row .title .subTxt {
  font-size: 22px;
  margin-top: 0px;
  margin-left: 50px;
}
/* End of WAS title */

/* Introduction */
.container .introduction {
  margin-left: -15px;
  margin-right: -15px;
}

.container .introduction .introduction_grid .text {
  color: #394b58;
  text-align: justify;
  line-height: 23px;
  white-space: pre-line;
  margin-left: 50px;
}

.container .introduction .introduction_grid .lucky_draw_text {
  color: var(--blue);
  display: inline;
}

.container .form_button {
  margin-top: 50px;
}

.container .form_button .lucky_draw_container .MuiButtonBase-root {
  margin-left: 150px;
}

.container .form_button .continue_button_container .MuiButtonBase-root {
  margin-right: 150px;
}
/* End of Introduction */

/* Mobile support */
@media only screen and (max-width: 600px) {
  .MuiGrid-container .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .container .row {
    display: contents;
  }

  .container .row .image_container {
    height: 130px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 75px;
  }

  .container .row .title .titleTxt {
    margin-left: 35px;
    font-size: 22px;
  }

  .container .row .title .subTxt {
    margin-left: 35px;
    font-size: 18px;
  }

  .container .introduction .introduction_grid .text {
    margin-left: 50px;
    margin-right: 420px;
  }

  .container .form_button {
    display: block;
  }

  .container .form_button .lucky_draw_container .MuiButtonBase-root {
    margin-left: 125px;
    margin-bottom: 50px;
  }

  .container .form_button .continue_button_container .MuiButtonBase-root {
    width: 201px;
    margin-right: 0px;
  }
}
